body {
    margin: 0; /*minden margin alapértékét 0-ra állítjuk a 8-ról, a body-n belül*/
    text-align: center;
    font-family: 'Montserrat', sans-serif;  /* "web safe fonts" -- 
    fallbacks -> if font is not supported, it will go into Arial in this case*/
    color: #40514E;
}

h1 {
    font-size: 5.625rem; /*px is not dynamic size, a 100% is equals to 16px -> 
    90px/16 = 5,625 -> 562.5%  --- 1em = 16px = 100% */
    /*font sizes are inherited, and add up the parent/child values, kivétel ha statikus*/
    /*rem -> root em -> will ignore all the other values, will only keep that one*/
    margin: 50px auto 0 auto; 
    /*ha nem lenne width beállítva, akkor középen lenne a 
    text-align body miatt. azonban mivel a doboz alapból kicsi, magánban a dobozban egyébként
    is középen lenne - így a h1-es szülő divhez igazítva, állitjuk be a h1 tag marginjait*/
    font-family: 'Square Peg', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
}

.top-container {
    background-color: blanchedalmond;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    top: 300px;
}

.skills{
    padding-top: 1%;
    padding-bottom: 1%;
}

.contact-me{
    padding-top: 1%;
    padding-bottom: 1%;
}

.profile{
    padding-top: 1%;
    padding-bottom: 1%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-desc{
    line-height: 2.5;
}

.skill-image-reading{
    width: 25%;
    float: left;
    padding-right: 30px;
}

.skill-image-coding{
    width: 25%;
    float: right;
    padding-left: 30px;
}

/*clear --> "antifloat" clear: left; left margin is there, and cant be floated*/
/*float is commonly used, and most of the times abused --> only need to be used for wrapping
not for positioning*/

.profile-description{
    color: #40514e;
    width: 30%;
    margin: auto; /*centering*/
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.profile-picture{
    width: 10%;
    height: auto;
    border-radius: 10%;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

a{
    color: #11999E;
	font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}
       